* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-epo-fra.epo-fra.dix -text
/apertium-epo-fra.epo-fra.lrx -text
/apertium-epo-fra.epo-fra.t0x -text
/apertium-epo-fra.epo-fra.t1x -text
/apertium-epo-fra.epo.dix -text
/apertium-epo-fra.epo.tsx -text
/apertium-epo-fra.fra-epo.antaux1_t2x -text
/apertium-epo-fra.fra-epo.antaux2_t2x -text
/apertium-epo-fra.fra-epo.antaux3_t2x -text
/apertium-epo-fra.fra-epo.antaux4_t2x -text
/apertium-epo-fra.fra-epo.lrx -text
/apertium-epo-fra.fra-epo.post_t2x -text
/apertium-epo-fra.fra-epo.t1x -text
/apertium-epo-fra.fra-epo.t2x -text
/apertium-epo-fra.fra-epo.t3x -text
/apertium-epo-fra.fra.acx -text
/apertium-epo-fra.fra.dix -text
/apertium-epo-fra.fra.tsx -text
/apertium-epo-fra.post-fra.dix -text
/autogen.sh -text
/configure.ac -text
/epo-fra.prob -text
/epo-pn.dat -text
/fra-epo.prob -text svneol=unset#unset
/fra-pn.dat -text
/modes.xml -text
*.dix linguist-language=XML linguist-detectable=true
*.lrx linguist-language=XML linguist-detectable=true
*.lsx linguist-language=XML linguist-detectable=true
*.tsx linguist-language=XML linguist-detectable=true
*.t[[:digit:]]x linguist-language=XML linguist-detectable=true
