* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/INSTALL -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-eo-fr.eo-fr.dix -text
/apertium-eo-fr.eo-fr.t0x -text
/apertium-eo-fr.eo-fr.t1x -text
/apertium-eo-fr.eo.dix -text
/apertium-eo-fr.eo.tsx -text
/apertium-eo-fr.fr-eo.antaux1_t2x -text
/apertium-eo-fr.fr-eo.antaux2_t2x -text
/apertium-eo-fr.fr-eo.antaux3_t2x -text
/apertium-eo-fr.fr-eo.antaux4_t2x -text
/apertium-eo-fr.fr-eo.post_t2x -text
/apertium-eo-fr.fr-eo.t1x -text
/apertium-eo-fr.fr-eo.t2x -text
/apertium-eo-fr.fr-eo.t3x -text
/apertium-eo-fr.fr.acx -text
/apertium-eo-fr.fr.dix -text
/apertium-eo-fr.fr.tsx -text
/apertium-eo-fr.post-fr.dix -text
/autogen.sh -text
/configure.ac -text
/eo-fr.prob -text
/eo-pn.dat -text
/fr-eo.prob -text svneol=unset#unset
/fr-pn.dat -text
/modes.xml -text
